In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables=pd.read_html(url)

In [3]:
tables[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
a=tables[0]
a.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

In [5]:
b=a[a['Borough']!='Not assigned']
b.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [6]:
df1=b.groupby("Postcode").agg(lambda x:','.join(set(x)))
df1.head(10)

              Borough                                  Neighbourhood
Postcode
M1B       Scarborough                                  Rouge,Malvern
M1C       Scarborough           Rouge Hill,Highland Creek,Port Union
M1E       Scarborough                Guildwood,West Hill,Morningside
M1G       Scarborough                                         Woburn
M1H       Scarborough                                      Cedarbrae
M1J       Scarborough                            Scarborough Village
M1K       Scarborough      East Birchmount Park,Kennedy Park,Ionview
M1L       Scarborough                  Oakridge,Clairlea,Golden Mile
M1M       Scarborough  Cliffcrest,Scarborough Village West,Cliffside
M1N       Scarborough                     Cliffside West,Birch Cliff

In [7]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

df1.shape

(103, 2)

In [11]:
e=pd.read_csv("https://cocl.us/Geospatial_data")
e.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [12]:
e.rename({'Postal Code': 'Postcode'}, axis=1, inplace=True)
e.head(10)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476
5      M1J  43.744734 -79.239476
6      M1K  43.727929 -79.262029
7      M1L  43.711112 -79.284577
8      M1M  43.716316 -79.239476
9      M1N  43.692657 -79.264848

In [13]:
neighborhoods=pd.merge(a,e, how='right', on = 'Postcode')
neighborhoods.head(15)

   Postcode           Borough     Neighbourhood   Latitude  Longitude
0       M3A        North York         Parkwoods  43.753259 -79.329656
1       M4A        North York  Victoria Village  43.725882 -79.315572
2       M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3       M6A        North York  Lawrence Heights  43.718518 -79.464763
4       M6A        North York    Lawrence Manor  43.718518 -79.464763
5       M7A      Queen's Park      Not assigned  43.662301 -79.389494
6       M9A  Downtown Toronto      Queen's Park  43.667856 -79.532242
7       M1B       Scarborough             Rouge  43.806686 -79.194353
8       M1B       Scarborough           Malvern  43.806686 -79.194353
9       M3B        North York   Don Mills North  43.745906 -79.352188
10      M4B         East York  Woodbine Gardens  43.706397 -79.309937
11      M4B         East York     Parkview Hill  43.706397 -79.309937
12      M5B  Downtown Toronto           Ryerson  43.657162 -79.378937
13      M5B  Downtown Toronto   Garden District  43.657162 -79.378937
14      M6B        North York         Glencairn  43.709577 -79.445073

In [ ]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

In [ ]:
toronto_data= neighborhoods[neighborhoods['Borough'].str.contains('Toronto', na = False)].reset_index(drop=True)
toronto_data.head()

In [ ]:
latitude = 43.6532
longitude= -79.3832

In [ ]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(toronto_data['Latitude'], toronto_data['Longitude'], toronto_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto